body {
    background-color:#f2f2f2;
    font-family: 'Quicksand', sans-serif;
    color:#39004d;
    font-weight: 700;
    font-size: 1.6em;
    position: relative;
}

.landing {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #39004d;
    color:white;
    z-index: 9999;
    animation: Landing 3s linear 1.5s forwards
}

h1 {
    font-family: 'Arima Madurai', cursive;
    font-size: 45px;
    margin-top: 100px;
    text-align: center;
    
}

h2 {
    font-size: 45px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Arima Madurai', cursive;
}



.landing {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #39004d;
}

header {
    width:100%;  
}

.navbar-default {
    border: none;
    color:#39004d;
    background-color: #f2f2f2;
}

.navbar-default .navbar-brand {
    color: #39004d;
}

.navbar-default .navbar-nav li a {
    color:#39004d;
}

nav a:hover {
    color: black;
	text-decoration: none;
}

nav a:visited {
    color:white;
    text-decoration:none;
}

img {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

footer {
    clear: both;
    padding-top: 80px;
}

.centered {
    text-align: center;
}

figcaption {
    display: block;
    text-align: center;
}

.resumetop {
    text-align: center;
    line-height: .2em;
} 

.btn-success {
    color: #fff;
    background-color: #39004d;
    border-color: #39004d;
}

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4{
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #39004d;;
    border-color: #39004d;
    padding: 5px 10px;
}

button, input, optgroup, select, textarea {
    margin-left: 15px;
    
}

h5 {
    text-indent: 20px;
    font-size: 1.1em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #e6e6e6;
    color: #39004d;
}

.modal-open .modal {
    background-color: rgba(0, 0, 0, 0.83)
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #fff;
    color: #000;
}

@keyframes Landing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        color:transparent;
    }
}

.intro {
    font-size: 4em;
    padding-top: 100px;
    font-weight: 100;
}

.sparkle {
    font-size: 2.8em;
    
}

.logo {
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    padding: 0px;
    margin-top: 0px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -30px;
    margin-top: -30px;
}